
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

BorderPane{
    -fx-background-color: white;
    -fx-font-family: "Work Sans", sans-serif;
    -fx-text-fill: white;
}

AnchorPane{
    -fx-background-color: white;
    -fx-font-family: "Work Sans", sans-serif;
    -fx-text-fill: white;
}

.redAnchorPane {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
}

.whiteLabel {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.redEdge {
    -fx-background-color: #C00D0D;
    -fx-pref-height: 40px;
    -fx-pref-width: 100%;
    -fx-text-fill: white;
}

MFXButton{
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
    -fx-font-family: "Source Sans 3", sans-serif;
    -fx-font-weight: bold;
}

.whiteButton {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-font-family: "Source Sans 3", sans-serif;
    -fx-font-weight: bold;
}

.redbutton {
    -fx-text-fill: #C00D0D;
}

.table-view .column-header .label {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
    -fx-font-family: "Source Sans 3", sans-serif;
}

.date-picker .cell:hover {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
}

.date-picker .cell:focused {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
}

.date-picker .selected {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #C00D0D;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: #C00D0D;
}

MFXTextField {
    -fx-border-color: #C00D0D;
}

MFXPasswordField {
    -fx-border-color: #C00D0D;
}
