
@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Pridi:wght@200;300;400;500;600;700&display=swap');

BorderPane{
    -fx-background-color: white;
    -fx-font-family: "Anaheim", sans-serif;
    -fx-text-fill: white;
}

AnchorPane{
    -fx-background-color: white;
    -fx-font-family: "Anaheim", sans-serif;
    -fx-text-fill: white;
}

.redEdge {
    -fx-background-color: C00D0D;
    -fx-pref-height: 40px;
    -fx-pref-width: 100%;
    -fx-text-fill: white;
}

MFXButton{
    -fx-background-color: C00D0D;
    -fx-text-fill: white;
    -fx-font-family: "Anaheim", sans-serif;
}

.whiteButton {
    -fx-background-color: white !important;
    -fx-text-fill: black !important;
    -fx-font-family: "Anaheim", sans-serif;

}

.table-view .column-header {
    -fx-background-color: C00D0D;
    -fx-text-fill: white;
    -fx-font-family: "Anaheim", sans-serif;
}

.date-picker .cell:hover {
    -fx-background-color: C00D0D;
    -fx-text-fill: white;
}

.date-picker .cell:focused {
    -fx-background-color: C00D0D;
    -fx-text-fill: white;
}

.date-picker .selected {
    -fx-background-color: C00D0D;
    -fx-text-fill: white;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: C00D0D;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: C00D0D;
}
