
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.newC{

}

BorderPane{
    -fx-background-color: white;
}

AnchorPane{
    -fx-background-color: white;
}

StackPane{
    -fx-background-color: red;
}

.redEdge {
    -fx-background-color: red;
    -fx-pref-height: 40px;
    -fx-pref-width: 100%;
}

MFXButton{
    -fx-background-color: "red";
}

.whiteButton {
    -fx-background-color: white !important;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: red;
}